<a href="/lists/new">Add a list</a>

<div class='flexcontainer'>
<%if @lists.none? %>
  No lists yet
  <% else %>
  <% @lists.each do |list| %>
  <div class='flex-item'>
    <h2><%= list.name %></h2>

  </div>
  <% end %>
</div>
<% end %>




