<a href="/lists/new">Add a list</a>

<div class='container'>
<%if @lists.none? %>
  No lists yet
  <% else %>
  <div class='row'>
  <% @lists.each do |list| %>
  <div class='flexcontainer'
    <h2><%= list.name %></h2>
  </div>
  <% end %>

</div>
<% end %>


