// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flexcontainer {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   border: 1px solid #D3D3D3;
   padding: 1px;
}

.flex-item {
  border: 1px solid #D3D3D3;
   padding: 1px;
   width: 200px;
}